<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817595942719-u5u7qeda4p6ko9qjii8ojn1l49qtgkms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817595942719-u5u7qeda4p6ko9qjii8ojn1l49qtgkms</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>817595942719-663u7pcmhotregkpnd3k9i2e9of08d4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADBhhKTZSUdQCRh22gIySE5uYl9C9voYY</string>
	<key>GCM_SENDER_ID</key>
	<string>817595942719</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodinMerchant</string>
	<key>PROJECT_ID</key>
	<string>foodin-93814</string>
	<key>STORAGE_BUCKET</key>
	<string>foodin-93814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817595942719:ios:24519d57851ac92c6e358a</string>
</dict>
</plist>